.rental-list {
    font-size: 1.75rem;
}

.rental-search {
    background-color: #e3dcd2 !important;
    border-color: #e3dcd2 !important;
    color: #333 !important;               
 }
  
.rental-search:hover,
.rental-search:focus {
    background-color: #d8c8bf !important; 
    border-color: #d8c8bf !important;
    color: #222 !important;
}
.rental-search-input {
  width: 100%;
  max-width: 100%;
}

.more-link {
  font-size: 0.875rem;       
  text-decoration: underline;
  color: #333;            
  cursor: pointer;
}

@media (max-width: 768px) {
  .rental-search-input {
    max-width: 20ch;
  }
}

@media (max-width: 576px) {
  .rental-search-input {
    max-width: 20ch;
    margin-left: 0.5rem;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  .book-cover-img {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }

  .book-cover-img + h6,
  .book-cover-img + h6 + p {
    text-align: center;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }
}